<header class='top-page-header'>
  <div class='header-contents-menu'>
    <div class='bar-contents'>
      <p class='title-header'></p>
    </div>
    <div class='search-bar-contents'>
      <div class='header-title'>
        <%= link_to 'HealthLunch', root_path, method: :get, class: "healthLunch"%>
      </div>
    </div>
    <div class='nav'>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout"%></li>
        <% else %>
          <li><%=link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%=link_to '新規登録', new_user_registration_path, class: "sign_up"%></li>
        <% end %>
      </ul>
      <div class="cp_cont">
	      <div class="cp_offcm04">
          <input type="checkbox" id="cp_toggle04">
          <label for="cp_toggle04"><span></span></label>
          <div class="cp_menu">
          <ul >
            <li><%= link_to 'たんぱくケア', proteins_path  %></li>
            <li><%= link_to 'カロリーケア', calories_path %></li>
            <li><%= link_to 'やわらか食事', softs_path %></li>
            <li><%= link_to 'よくある質問', "#" %></li>
            <li><%= link_to 'トップページへ戻る', root_path %></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='bar-contents'>
      <p class='title-header'></p>
    </div>
  </div>
</header>

