<%= render "shared/header" %>
<div class='buyer-contents'>
  <div class='image-sumaho' >
    <div class="bgImg">HelthLunchは健康的なお食事をご提供致します!</div>
    <div class="bgImg"></div>
  </div>
  <div class='buyer-title'>
    <p class='buy'>購入情報入力</p>
  </div>
  <div class='buyer-second-contents'>
    <%= form_with id:'card-form', model: @order, url: orders_path(@cart), class: 'transaction-form-wrap', local: true do |f| %>
     <div class="price-total">¥<%=f.text_field :total_price, value: @cart.total_price, readonly: true, class:"cart-item-pricebtn"%>
     </div>
    <div class='buyers-con'>
      <div class="buyers-header">
      <%= render 'shared/error_messages', model: f.object %>
        <div class="buyers">
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>郵便番号</label>
                <span class='indispensable'>必須</span>
            </div>
            <%= f.text_field :zip01, class:"input", id:"postal-code",onKeyUp: "AjaxZip3.zip2addr(this,'zip01','pref01','addr01');",placeholder:"例 123-4567", maxlength:"8" %>
          </div>
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>都道府県</label>
                <span class='indispensable'>必須</span>
            </div>
            <%= f.text_field :pref01, class:"input", name: "pref01", id:"pref01"%>
          </div>
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>市町村</label>
                <span class='indispensable'>必須</span>
            </div>
            <%= f.text_field :addr01, class:"input", name: "addr01", id:"addr01" %>
          </div>
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>番地</label>
                <span class='indispensable'>必須</span>
            </div>
            <%= f.text_field :reference, class:"input", id:"reference",placeholder:"例 1-1-1"%>
          </div>
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>建物名</label>
            </div>
          <%= f.text_field :building, class:"input", id:"building",placeholder:"例 柳ビル103"%>
          </div>
          <div class='buyer-body'>
            <div class='form-text-wrap'>
                <label class='text-form'>電話番号</label>
                <span class='indispensable'>必須</span>
            </div>
          <%= f.text_field :phone_number, class:"input", id:"phone_number",placeholder:"例 09012345678",maxlength:"11" %>
          </div>
        </div>  
          <div class='seq'>
            <span class='block-header'>カード情報</span>
                <span class="indispensable">必須</span>
            <div class='card-number'>
            <%= f.text_field :number, class:"input",id:"card-number", placeholder:"カード番号",maxlength:"16" %>
            </div>  
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">有効期限</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-expiration-date-wrap'>
                <%= f.text_area :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)3" %>
                <p>月</p>
                <%= f.text_area :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)23" %>
                <p>年</p>
              </div>
            </div>
            <div class="form-group">
                <div class='form-text-wrap'>
                  <label class="form-text">セキュリティコード</label>
                  <span class="indispensable">必須</span>
                </div>
                <%= f.text_field :cvc,class:"input", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
            </div>
          </div>
        </div>
      </div>
      <div class='buyer-btn'>
        <%= button_to "購入を確定する" ,class:"buyer-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>