<%= form_with model:@user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-login'>
  <div class="login-wrap">
    <div class='form-login-header'>
      <h1 class='form-header'>
        <%=link_to "会員情報入力", root_path, class: "new-text" %>
      </h1>
    </div>
    <div class="body-text">
      <div class="text-body">
          <div class="form">
            <div class='form-mail-wrap'>
              <label class="mail-text">メールアドレス</label>
            </div>
            <%= f.email_field :email, class:"input-def", id:"email", autofocus: true %>
          </div>
          <div class="form">
            <div class='password-text-wrap'>
              <label class="form-password">パスワード</label>
            </div>
            <%= f.password_field :password, class:"input-def", id:"password", placeholder:"" %>
          </div>
          <div class='login-btn'>
            <%= f.submit "ログイン" ,class:"login-red-btn" %>
          </div>
          <div class='facebook-new'>
            <%= link_to 'Facebook', user_facebook_omniauth_authorize_path, method: :post%>
          </div>
      </div>
    </div>
  </div> 
</div>
<% end %>

