<%= render "shared/header" %>

<div class='main-contents'>
  <div class='bento-menu'>
    <div class='main-pic'>
      <div class='picture'>
        <p class='pic-text'>咀嚼が困難な方、歯茎で潰せるお食事</p>
      </div>
    </div>
    <div class='main-menu'>
      <div class='category-item'>
        <h2 class='title-protein'>やわらか食事メニュー<h2>
      </div>
      <div class='menu-category'>
        <ul class='category-menu'>
          <% @softs.each do |soft| %>
          <li class='menu'>
            <%= link_to soft_path(soft.id), class: 'link' do%>
              <%= image_tag soft.image, class: 'bento-contents' if soft.image.attached? %>
              <div class="item-info">
                <h3 class='item-name'><%= soft.name %><h3>
                <div class='item-price'>
                  <span class='price'><%= soft.price %>円(税抜)</span>
                </div>
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

