<%= render "shared/header" %>
<div class='main'>
    <div class='title-contents'>
    <div id="pic_src"></div>
      <h1 class='advertising'>
        おうちご飯を応援
      </h1>
      <p class='picture-contents'>
        栄養士考案のバランスが取れたお弁当
      </p>
      <p class='picture-contents'>
        食事から健康をサポート致します!
      </p>
    </div>
    <div class='select-reason-contents'>
      <h2 class='title'>
        選択メニュー
      </h2>
    </div>
    <div class='bentos-lists'>
      <ul class='bento-lists'>
        <li class='list'>
          <%= link_to(proteins_path) do %>
            <%= image_tag "bnt8.jpg", class: "list-pict" %> 
          <% end %>
          <h3 class='bento-list-text'>
          たんぱくケア
          </h3>
          <p class='bento-list-title'>
            腎臓病・透析の方
          </p>
          <p class='bento-list-explain'>
          1食あたりのたんぱく質量が13g程
          </p>
        </li>
        <li class='list'>
          <%=link_to(calories_path) do%>
            <%=image_tag "bnt8.jpg", class: "list-pict"%>
          <% end %>
          <h3 class='bento-list-text'>
            カロリーケア
          </h3>
          <p class='bento-list-title'>
            肥満の方
          </p>
          <p class='bento-list-explain'>
            1食あたりのカロリーが約400Kcal
          </p>
        </li>
        <li class='list'>
          <%=link_to(softs_path) do%>
            <%=image_tag "bnt8.jpg", class: "list-pict"%>
          <% end %>
          <h3 class='bento-list-text'>
            やわらか食事
          </h3>
          <p class='bento-list-title'>
            やわらかく調整した食事メニュー
          </p>
          <p class='bento-list-explain'>
            歯茎でつぶせる固さを目安にしたものです
          </p>
        </li>
      </ul>
    </div>
    <div class='feature-contents'>
      <h2 class='second-health-title'>
        HealthLunchが選ばれる理由
      </h2>
      <div class='textArea'>
        <div class='text-Box'>
          <div class='discBox'>
            <h3 class='menu-acount'>1.管理栄養士監修で安心</h3>
            <p class='acount'>
            管理栄養士・栄養士が考案した弁当の宅配サービス。食の基本であるおいしさにこだわりながら、カロリーや塩分に配慮したメニューの豊富さ！
            </p>
          </div>
        </div>
        <div class='text-Box'>
          <div class="discBox">
            <h3 class='menu-acount'>2.冷凍だから食べたい時にすぐ美味しい</h3>
            <p class='acount'>
            冷凍でお届けするので、食べたいときにチンするだけ！決められた時間に縛られることなく、自分のペースで食べられる！
            </p>
          </div>
        </div>
      </div>
    </div>
  <section class='section'>
    <div class='review-container'>
      <div class='columns is-centered'>
        <div class='column is-5'>
          <% @items.each do |item| %>
            <div class="card mb-6">
              <div class="card-header">
                <p class="card-heder-title">
                  <%= item.name %>
                </p>
              </div>
              <div class="card-content">
                <div calss="content">
                  <div class="content average-score">
                    <div class="star-rating mb-2">
                      <div class="star-rating-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
                      <div class="star-rating-back">★★★★★</div>
                    </div>
                    <div class ="average-score-display ml-3 pt-2">
                    <%= item.avg_score %>点(<%= item.reviews.count %>件のレビュー)
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <%= link_to item_reviews_path(item), class: "button card-footer-item" do %>
                  レビューを見る
                <% end %>
                <%= link_to item_path(item), class: "button card-footer-item" do %>
                  レビューを書く
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
