<%= render "shared/header" %>
<section class='section'>
  <div class='review-container'>
    <div class='columns is-centered'>
      <div class='column is-5'>
          <div class='card mb-6'>
            <header class='card-header'>
              <p class='card-heder-title'>
                <%= @item.name %>
              </p>
            </header>
            <div class="card-content">
              <div class='content average-score'>
                <div class='star-rating mb-2'>
                  <div class='star-rating-front' style='width:<%= @item.review_score_percentage %>%'>★★★★★</div>
                  <div class='star-rating-back'>★★★★★</div>
                </div>
                <div class ='average-score-display ml-3 pt-2'>
                  <%= @item.avg_score %>点(<%= @item.reviews.count %>件のレビュー)
                </div>
              </div>
            </div>
          </div>
        <%= render 'reviews/form', review: @review, item: @item %>
      </div>
    </div>
  </div>
  </section>