<%= render "shared/header" %>

<div class='main-contents'>
 <% if user_signed_in? %>
    <% if current_user == @user || current_user.admin? %>
  <span class='purchase-btn-text'>出品する</span>
    <%= link_to(new_protein_path) do %>
    <%= image_tag 'bento12.jpg' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
    <% end %>
  <% end %>
  <div class='main-pic'>
    <%= image_tag "sumaho.jpg", class: "item-contents"%>
  </div>
  <div class='category-item'>
    <h2 class='title'>たんぱくケアメニュー<h2>
  </div>
  <div class='menu-categoy'>
    <ul class='item-menu'>
      <li class='menu'>
       <%= image_tag "bento4.jpg", class: "bento-contents"%>
        <div class="item-info">
          <h3 class='item-name'>
            弁当名
          <h3>
          <div class='item-price'>
            <span class='price'>500円</span>
          </div>
        </div> 
      </li>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>
